:root{
    --tamanho-font:50px;
    --posicao:absolute;
    --topo:0;
    --bottom:0;
    --left:0;
    --right:0;
    --borda:1px solid #000000;
}
body{
   text-align: center; 
   margin-top: 100px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}
.tabuleiro{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 320px;
    margin: auto; 
    border-radius: 15px;
}

.quadrante{
    background-color: #FFFDFD;
    border-bottom:var(--borda);
    border-right:var(--borda);
    height: 100px;
    width: 100px;
  
}
.border-right{
 border-right: none;
}
.border-bottom{
    border-bottom: none;
   }

.x,.o{
    position: relative;
}

.x::after{
    content: "\274C";
    font-size: var(--tamanho-font);
    position: var(--posicao);
    line-height: 100px;
    top: var(--topo);
    left: var(--left);
    right: var(--right);
    bottom: var(--bottom);
}

.o::after{
    content: "\2B55";
    font-size: var(--tamanho-font);
    position: var(--posicao);
    top: var(--topo);
    left: var(--left);
    right: var(--right);
    bottom: var(--bottom);
    line-height: 100px;
}
